*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(116, 116, 172);
    color: #eee;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 20px;
}
#main{
    background-color: rgb(87, 99, 75);
    color: #ffffff;
    width: 100%;
    height: 200px;
    padding: 20px;
}
#name{
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: chocolate;
    padding: 20px;
}